@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Science+Gothic:wght@100..900&display=swap');

body {
   /* Bakgrund gradient */
background: #4C1B00;
background: linear-gradient(180deg,rgba(76, 27, 0, 1) 0%, rgba(13, 9, 47, 1) 64%, rgba(9, 6, 31, 1) 84%, rgba(0, 0, 0, 1) 100%);
background-attachment: fixed;
}

h1, h2, h3, h4, h5, p {
    color: rgb(236, 236, 236);
}

.h1-title, .h2-title, h1, h2{
    font-family: "Science Gothic", sans-serif;


  letter-spacing: 1.5px;
}

p, .undertitle{
    font-family: "Inter", sans-serif;
}

.h1-title{
   font-weight: 700;
   text-align: center;
   margin: 50px 0 10px 0;
   font-size: 35px;
}

.h2-title{
   font-weight: 600;
   text-align: center;
   margin: 25px auto;
   font-size: 23px;
   max-width: 90vw;
}

.undertitle{
   font-weight: 400;
   max-width: 80vw;
   text-align: center;
   margin: 10px auto 60px auto;
   font-size: 20px;
}


.paragraf{
    text-align: center;
    max-width: 80vw;
    margin: 25px auto;
}

.custom-button {
    background: #4C1B00;
    background: linear-gradient(97deg,rgba(76, 27, 0, 1) 0%, rgba(178, 63, 0, 1) 100%);
    color: rgb(236, 236, 236);
    transition: 0.3s ease, transform 0.2s ease;

    height: 24px;           
    padding: 22px 36px;
    margin: 12px 0;       
    display: flex;          
    align-items: center;   
    border-radius: 4px;    
    cursor: pointer; 
    font-size: 16px;

}

.custom-button:hover {
    background: linear-gradient(97deg, rgba(178, 63, 0, 1) 0%, rgba(255, 140, 0, 1) 100%);
    transform: translateY(-2px);
}

.link-decoration{
    color: #FB923C;
    text-decoration: underline;
}

.card-bg {
	background: linear-gradient(97deg, rgb(122 95 90) 0%, rgb(115 38 38) 100%);
}